<button [routerLink]="['/pets/new']" class="btn btn-success btn-top">Add a Pet</button>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Pet Name</th>
            <th scope="col">Pet Type</th>
            <th scope="col">Details</th>
            <th scope="col">Edit</th>
        </tr>
    </thead>
    <tbody>
            <tr *ngFor="let pet of allpets">
                <td>{{pet.name}}</td>
                <td>{{pet.type}}</td>
                <td>
                    <button [routerLink]="['/pets/show', pet._id]" class="btn btn-success">Details</button>
                </td>
                <td>
                    <button [routerLink]="['/pets/edit/', pet._id]" class="btn btn-warning">Edit</button>
                </td>
            </tr>
        

        
    </tbody>
</table>